$theme-blue: #4f46e5 !default;
$theme-blue-hover: #4338ca !default;

$forum-color-primary: $theme-blue !important;
$forum-color-hover: $theme-blue-hover !important;

.discussion-module {
    .btn {
        color: $theme-blue !important;
        border: 1px solid $theme-blue !important;

        &:hover, 
        &:focus{
            border-color: $theme-blue !important;
            background-color: $theme-blue !important;           
        }
    }
}


