<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="pagetitle">Arapatsa: Expert-Led Online Courses to Boost Your Skills</%block>

<style type="text/css">
    .settings-language-form{margin-top: 0; margin-bottom: 0;}
    .rounded-lg.shadow-lg{min-height: auto !important;}
</style>
<div class="top-banner">
    <div class="relative overflow-hidden">
        <main>
            % if LANGUAGE_CODE == "zh-cn":
                <img src="${static.url('images/banner_chinese.png')}">
            % else:
                <img src="${static.url('images/banner.png')}">
            % endif
            <!-- More main page content here... -->
        </main>
    </div>
</div>
<!-- Features -->
<%include file="${courses_list}" />
<!-- CTA -->
