<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<style type="text/css">
    .settings-language-form{margin-top: 0; margin-bottom: 0;}
    .top-banner img {width: 86%;}
</style>
<div class="top-banner">
    <div class="relative overflow-hidden">
        <main>
            <img src="${static.url('images/banner.png')}">
            <!-- More main page content here... -->
        </main>
    </div>
</div>
<!-- Features -->
<%include file="${courses_list}" />
<!-- CTA -->
